<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!-- Directorio donde se almacenarán los logs -->
    <property name="LOG_PATH" value="logs"/>

    <!-- Salida en consola -->
    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Salida en archivo -->
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_PATH}/lab-admin-service.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

            <fileNamePattern>
                ${LOG_PATH}/lab-admin-service.%d{yyyy-MM-dd}.log
            </fileNamePattern>

            <!-- Conserva 30 días -->
            <maxHistory>30</maxHistory>

        </rollingPolicy>

        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n
            </pattern>
        </encoder>

    </appender>

    <!-- Log exclusivo para eventos funcionales y auditoría -->
    <appender name="AUDIT_FILE"
            class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_PATH}/audit.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

            <fileNamePattern>
                ${LOG_PATH}/audit.%d{yyyy-MM-dd}.log
            </fileNamePattern>

            <maxHistory>30</maxHistory>

        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="AUDIT"
            level="INFO"
            additivity="false">

        <appender-ref ref="AUDIT_FILE"/>

    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>